<ion-header>
  <ion-toolbar>
    <ion-title>
      Travel Journal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let trip of trips" (click)="openTripDetail(trip)">
      <ion-label>
        <h2>{{ trip.title }}</h2>
        <p>{{ trip.date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTrip()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
